{% comment %}
    Renders a carousel with clark io recommendations

    Accepts:
    - collection: {Object} Collection object

    Usage:
    {% render 'clark-recommendations',
        collection: collection
    %}
{% endcomment %}

<div class="clerkio-homepage-recommendations">
    <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width">
      <h2 class="title h2">Popular</h2>
    </div>
    <div class="page-width">
      <span class="clerk"
            data-template="@category-page-popular"
            data-category="{{ collection.id }}" >
      </span>
    </div>
  </div>