{{ 'announcement-popup.css' | asset_url | stylesheet_tag }}

<div class="page-width-desktop announcement-popup_wrapper">
    <div class="announcement-popup_exit" onClick="this.parentElement.remove()">{% render 'icon-close' %}</div>
    {{ section.settings.popup_text }}
</div>

{% schema %}
{
    "name": "Announcement Popup",
    "class": "section",
    "tag": "section",
    "settings": [
      { 
        "type": "richtext",
        "id": "popup_text",
        "label": "Caption"
      }
    ]
  }
{% endschema %}