  
      <div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        <div class="announcement-bar__wrapper page-width">
          {%- for block in section.blocks -%}
            <div>{{- block.settings.text -}}</div>
          {%- endfor -%}  
        </div>
      </div>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 3,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Welcome to our store</p>",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
