{{ 'clerk-design-component.css' | asset_url | stylesheet_tag }}
<section class="clerkio-feefo-carousel || js-clerkio-feefo-carousel">
    <div class="page-width page-width-desktop">
        <div id="feefo-service-review-carousel-widgetId" class="feefo-review-carousel-widget-service"></div>
    </div>
</section>