{{ 'clerk-design-component.css' | asset_url | stylesheet_tag }}
<section class="page-width">
    <h2 class="title h2">Recommendations</h2>
    <span class="clerk"
          data-template="@home-page-visitor-complementary">
    </span>
</section>