{{ 'clerk-design-component.css' | asset_url | stylesheet_tag }}
<section class="clerkio-homepage-recommendations || js-clerkio-recommendations">
    <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width">
        <h2 class="title h2">Other Customers Also Bought These</h2>
    </div>
    <div class="page-width page-width-desktop">
        <span class="clerk"
              data-template="@home-page-visitor-complementary">
        </span>
    </div>
</section>