div[class^="clerk-design-component-"] > div.clerk-slider .clerk-slider-nav{
    z-index: 2;
}

.clerkio-homepage-recommendations{
    /* background-color: var(--color-white-2); */
    padding-bottom: 40px;
}

.clerk-design-component-1uS3AuyM {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
}

.clerk-design-component-1uS3AuyM > img {
    object-fit: contain;
    width: 100%;
    transition: transform var(--duration-long) ease;
}

.clerk-design-component-ksX8CB4I:hover .clerk-design-component-1uS3AuyM > img {
    transform: scale(1.03)
}

.clerk-design-component-ksX8CB4I:hover .clerk-design-component-hFaMfM6a{
    text-decoration: underline;
}

.clerk-design-component-hFaMfM6a{
    text-underline-offset: 0.3rem;
    text-decoration-color: var(--color-black);
    color: var(--color-black);
}

.clerk-design-component-2vODKCQQ{
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--color-background); 
    box-shadow: inset 0px 0px 0px 2px var(--color-background);
    cursor: pointer;
}

.clerk-design-component-2vODKCQQ:hover{
    -webkit-box-shadow: none; 
    box-shadow: none;
}

div[class^="clerk-design-component-"] > div.clerk-slider .clerk-slider-nav {
    background: #008a07;
}
.clerk-design-component-MDN9yvoh{
    padding: 16px;
}

.clerk-design-component-MDN9yvoh > div:first-child{
    height: 100%;
}

.clerk-design-component-ksX8CB4I{
    border: 2px solid var(--color-light-grey);
    border-radius: 5px; 
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.clerk-design-component-ksX8CB4I > div:first-child, .clerk-design-component-8VBNKXui > div:first-child{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.clerk-design-component-8VBNKXui > div:first-child{
    justify-content: space-between;
}


.clerk-slider{
    display: flex;
    column-gap: 10px;
}

@media screen and (max-width: 449px){
    .clerk-slider-item{
        min-width: 100%;
    }
}

@media screen and (min-width: 450px) and (max-width: 979px){
    .clerk-slider-item{
        min-width: calc(50% - 5px);
    }
}

@media screen and (min-width: 980px){
    .clerk-slider-item{
        min-width: calc(25% - 7.5px);
    }
}

.clerk-slider-item:nth-child(4n){
    padding-right: 0px;
} 

.clerk-slider-item:last-of-type{
    padding-right: 0px;
} 

.clerk-design-component-wpRHdQIQ:focus-visible{
    -webkit-box-shadow: 0px 0px 0px 3px var(--color-black); 
    box-shadow: 0px 0px 0px 3px var(--color-black);
}

.clerk-design-component-wpRHdQIQ::before{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
}

.clerk-design-component-wpRHdQIQ:not(:focus-visible){
    box-shadow: none;
    -webkit-box-shadow: none;
}