div[class^="clerk-design-component-"] > div.clerk-slider .clerk-slider-nav{
    z-index: 2;
}

.clerk-design-component-1uS3AuyM {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
}
div[class^="clerk-design-component-"] > div.clerk-slider .clerk-slider-nav {
    background: #008a07;
}
div[class^="clerk-design-component-"] > img {
    object-fit: contain;
    width: 100%;
}
div[class^="clerk-design-component-"] {
    cursor: pointer;
}
.clerk-design-component-MDN9yvoh{
    padding: 16px;
}

.clerk-design-component-MDN9yvoh > div:first-child{
    height: 100%;
}
