#ekomi-product-reviews ul {
    list-style-type: none;
    padding: 0;
}

#ekomi-product-reviews li {
    padding: 12px 0 24px 0;
    border-bottom: 2px solid var(--color-light-grey);
    display: flex;
    flex-direction: column;
}

#ekomi-product-reviews em {
    font-weight: 600;
    font-style: normal;
    margin-right: 4px;
}

.ekomi-product-reviews-outer{
    padding: 40px;
}

.ekomi-produc-review__placeholder{
    font-weight: 400;
    font-size: 20px;
}